<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>食品领域科技人才流动问卷调查-结束</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="shortcut icon" th:href="@{/img/query.jpg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/query.css}">
</head>
<body>
<div class="container">
    <header>食品领域科技人才流动问卷调查</header>
    <hr/>
    <article></article>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <header>您已完成问卷！</header>
    <header>请关闭页面 &nbsp;</header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</body>
<script th:src="@{/js/query.js}"></script>
</html>
