<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnu.questionnaire.dao.AnswerMapper">

    <insert id="insertAnswer" parameterType="Answer">
        insert into answer (
            submit_time,
            q01, q02, q03, q04, q05, q06, q07, q08, q09, q10,
            q11, q12, q13, q14, q15, q16, q17, q18, q19, q20,
            q21, q22, q23, q24, q25, q26, q27, q28, q29, q30,
            q31, q32, q33, q34, q35, q36, q37, q38, q39, q40,
            q41, q42, q43, q44, q45
        ) values (
            #{submitTime},
            #{q01}, #{q02}, #{q03}, #{q04}, #{q05},
            #{q06}, #{q07}, #{q08}, #{q09}, #{q10},
            #{q11}, #{q12}, #{q13}, #{q14}, #{q15},
            #{q16}, #{q17}, #{q18}, #{q19}, #{q20},
            #{q21}, #{q22}, #{q23}, #{q24}, #{q25},
            #{q26}, #{q27}, #{q28}, #{q29}, #{q30},
            #{q31}, #{q32}, #{q33}, #{q34}, #{q35},
            #{q36}, #{q37}, #{q38}, #{q39}, #{q40},
            #{q41}, #{q42}, #{q43}, #{q44}, #{q45}
        )
    </insert>


</mapper>